<!-- admin_home.html -->
<h1>Admin Dashboard</h1>
<p>Welcome, {{ request.user.email }} - 
<a href="{% url 'logout' %}">Logout</a></p>
<h2>Users</h2>
<a href="{% url 'add_user' %}">Add User</a>
<ul>
    {% for user in users %}
    <li>
        {{ user.email }} - {{ user.is_admin|yesno:"Admin,Regular User" }}
        <a href="{% url 'edit_user' user.id %}">Edit</a>
        <a href="{% url 'delete_user' user.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>

<h2>Warehouses</h2>
<a href="{% url 'add_warehouse' %}">Add Warehouse</a>
<ul>
    {% for warehouse in warehouses %}
    <li>
        Name: {{ warehouse.name }}, Location: {{ warehouse.location }},
        Capacity: {{ warehouse.capacity }}
        <a href="{% url 'edit_warehouse' warehouse.id %}">Edit</a>
        <a href="{% url 'delete_warehouse' warehouse.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>

<h2>Products</h2>
<a href="{% url 'add_product' %}">Add Product</a>
<ul>
    {% for product in products %}
    <li>
        Name: {{ product.name }},
        Description: {{product.description|truncatewords:5 }}, 
        Price: {{ product.price }}, SKU:
        {{ product.sku }}
        <a href="{% url 'edit_product' product.id %}">Edit</a>
        <a href="{% url 'delete_product' product.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>

<h2>Inventories</h2>
<a href="{% url 'add_inventory' %}">Add Inventory</a>
<ul>
    {% for inventory in inventories %}
    <li>
        Product <strong>{{ inventory.product.name }}</strong> in warehouse <strong>{{ inventory.warehouse.name }}</strong> with quantity <strong>{{ inventory.quantity }}</strong>
        <a href="{% url 'edit_inventory' inventory.id %}">Edit</a>
        <a href="{% url 'delete_inventory' inventory.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
