<!-- user_home.html -->
<h1>User Dashboard</h1>
<p>Welcome, {{ request.user.email }} - 
<a href="{% url 'logout' %}">Logout</a></p>
<h2>Warehouses</h2>
<ul>
    {% for warehouse in warehouses %}
    <li>
        Name: {{ warehouse.name }}, Location: {{ warehouse.location }},
        Capacity: {{ warehouse.capacity }}
    </li>
    {% endfor %}
</ul>

<h2>Products</h2>
<ul>
    {% for product in products %}
    <li>
        Name: {{ product.name }},
        Description: {{product.description|truncatewords:5 }}, 
        Price: {{ product.price }}, SKU:
        {{ product.sku }}
    </li>
    {% endfor %}
</ul>

<h2>Inventories</h2>
<ul>
    {% for inventory in inventories %}
    <li>
        Product <strong>{{ inventory.product.name }}</strong> in warehouse <strong>{{ inventory.warehouse.name }}</strong> with quantity <strong>{{ inventory.quantity }}</strong>
    </li>
    {% endfor %}
</ul>
